body {
    background-color: #000000; /* Background color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

#jeu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1a01f7, #e9914e); /* Gradient background */
    border-radius: 15px;
    padding: 30px;
    width: 100%; /* Adjust width to fit within viewport */
    max-width: 800px; /* Optional: maximum width */
    height: 80%; /* Adjust height to fit within viewport */
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

/* Style adjustments for select and input elements */
#jeu select,
#jeu input {
    width: 75%; /* Full width of the container */
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #20b2aa; /* Light sea green border */
    border-radius: 5px;
    outline: none;
    text-align: center;
}

/* Style adjustments for text elements */
#timer,
#score,
#word {
    margin-top: 20px;
    color: #ffffff; /* White text color for better contrast */
}

/* Styling for the word element */
#word {
    font-size: 2rem; /* Responsive font size */
    font-weight: bold;
    margin-bottom: 20px;
    color: #0cf3ff; /* Light blue color */
}

/* Hide input field initially */
#input {
    visibility: hidden; /* Initially hidden, revealed when game starts */
    width: 100%; /* Full width of the container */
}

/* Media queries for responsiveness */
@media (max-width: 968px) {
    #jeu {
        padding: 20px;
        height: 100%; /* Adjust height for very small screens */
        width: 100% /* Adjust height for smaller screens */
    }

    #word {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    #jeu {
        padding: 15px;
        height: 100%; /* Adjust height for very small screens */
        width: 100%; /* Adjust width for very small screens */
    }

    #word {
        font-size: 1.25rem; /* Further adjust font size for small screens */
    }

    #jeu select,
    #jeu input {
        font-size: 16px;
        padding: 8px;
    }
}
