body {
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

#jeu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #1a01f7, #e9914e); 
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    height: 80%; 
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

#jeu select,
#jeu input {
    width: 75%; 
    margin-top: 15px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #20b2aa;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

#timer,
#score,
#word {
    margin-top: 20px;
    color: #ffffff; 
}

#word {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 20px;
    color: #0cf3ff; 
}

#input {
    visibility: hidden; 
    width: 100%; 
}

@media (max-width: 968px) {
    #jeu {
        padding: 20px;
        height: 100%; 
        width: 100% 
    }

    #word {
        font-size: 1.5rem; 
    }
}

@media (max-width: 576px) {
    #jeu {
        padding: 15px;
        height: 100%; 
        width: 100%; 
    }

    #word {
        font-size: 1.25rem; 
    }

    #jeu select,
    #jeu input {
        font-size: 16px;
        padding: 8px;
    }
}
